body,
p {
  font-family: "Playfair Display", serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #626262;
}
.header {
  width: 900px;
  margin: auto;
}
.navigation ul {
  text-align: center;
}
.navigation li {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  margin-top: 75px;
  margin-right: 100px;
  margin-bottom: 100px;
}
.navigation li:last-child {
  margin-right: 0;
}

.navigation a:hover {
  color: #03a9f4;
}
.navigation a {
  text-decoration: none;
  font-family: "Playfair Display", serif;
}
.wrapper {
  font-size: 0;
  width: 900px;
  margin: auto;
}
.post {
  display: inline-block;
  width: 420px;
  font-size: 14px;
  margin-right: 60px;
  margin-bottom: 130px;
}
.post:nth-child(even) {
  margin-right: 0;
}
.post:nth-last-child(-n + 2) {
  margin-bottom: 55px;
}

.title {
  text-transform: uppercase;
  font-family: "Ubuntu", sans-serif;
  font-style: 300 14px;
  color: #b4ad9e;
  margin-top: 26px;
  margin-bottom: 30px;
}
.post h2 {
  font-size: 30px;
  margin-bottom: 35px;
}
.btn {
  display: block;
  margin: 0 auto;
  font-size: 20px;
  margin-bottom: 70px;
  padding: 20px 35px;
  background-color: #fff;
  border: 1px solid;
}
