* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat, serif;
}
body {
  width: 1201px;
  margin: 0 auto;
}
.page-header {
  display: flex;
  justify-content: space-between;
  min-height: 50px;
  align-items: center;
  margin-bottom: 90px;
}
.navmenu {
  display: flex;
}
.navmenu .navitem {
  margin-right: 60px;
  list-style-type: none;
}
.navmenu .navitem:last-child {
  margin-right: 0;
}
.navmenu .navitem a {
  text-decoration: none;
  color: #95e1d3;
  position: relative;
}
.navmenu .navitem a::after {
  display: block;
  background-color: rgb(243, 129, 129);
  position: absolute;
  width: 0px;
  height: 3px;
  content: "";
  transition: width 200ms linear;
}
.navmenu .navitem a:hover::after,
.navmenu .navitem a:focus::after {
  width: 100%;
}

.logo a {
  text-decoration: none;
  color: #95e1d3;
  font-weight: 700;
}
.heading {
  text-align: center;

  font-weight: 700;
}
.firstpart {
  font-family: "Kaushan Script", serif;
  font-weight: normal;
  font-size: 24px;
}
.heading:after {
  content: "";
  display: block;
  background-color: rgb(243, 129, 129);
  width: 60px;
  height: 3px;
  margin: 0 auto;
  margin-top: 42px;
  margin-bottom: 67px;
}

.our-services {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.section {
  width: 381px;
  margin-bottom: 100px;
}

.section::before {
  content: "";
  margin: 0px 29px 33px 29px;
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
  float: left;
}

.alarm::before {
  background-image: url(images/ALARM.png);
}

.book::before {
  background-image: url(images/BOOK.png);
}
.computer::before {
  background-image: url(images/COMPUTER.png);
}
.home::before {
  background-image: url(images/HOME.png);
}
.image::before {
  background-image: url(images/IMAGE.png);
}
.linegraph::before {
  background-image: url(images/LINEGRAPH.png);
}

.sectiontitle,
.section_text {
  float: inline-start;
}

.section_text {
  font-family: Roboto, serif;
  font-weight: normal;
  line-height: 20px;
  font-size: 15px;
  color: #999999;
}

.sectiontitle {
  font-family: Roboto, serif;
  font-weight: 400;
  font-size: 14px;
  padding-bottom: 24px;
}

.description {
  font-family: Roboto, serif;
  font-weight: normal;
  text-align: center;
  padding-bottom: 93px;
  color: #999999;
}
.team-members {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}
.team-members li {
  width: 33%;
}
.overlay-base img {
  display: block;
  position: relative;
}
.overlay-base {
  width: 380px;
  position: relative;
  margin-bottom: 40px;
}
.overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    to top,
    rgba(252, 227, 138, 0),
    rgba(243, 129, 129, 0)
  );
  transition: all 200ms linear;
  z-index: 1;
}
.overlay-base:hover {
  transform: translate(-10px, -10px);
  transition: all 200ms linear;
}
.overlay-base:hover .overlay {
  background-image: linear-gradient(
    to top,
    rgba(252, 227, 138, 0.9),
    rgba(160, 67, 67, 0.9)
  );
  box-shadow: 10px 10px #95e1d3;
  opacity: 1;
}
.overlay-base:hover .icons {
  background-color: rgba(252, 227, 138, 1);
}
.overlay-base:hover .icon {
  opacity: 1;
}

.icons {
  display: flex;
}
.icons li {
  list-style: none;
}
.icons a {
  display: flex;

  align-items: center;
  justify-content: center;
  width: 55px;
  height: 55px;
  background-color: rgba(252, 227, 138, 0);
}

.icons li:hover {
  background-color: rgba(149, 225, 211, 1);
}
.icon {
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0;
}
.facebook {
  background-image: url(images/icons/facebook.png);
}
.twitter {
  background-image: url(images/icons/twitter.png);
}
.pinterest {
  background-image: url(images/icons/pinterest.png);
}
.instagram {
  background-image: url(images/icons/instagram.png);
}

.team-members h4 {
  text-align: center;
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;
  margin-bottom: 15px;
}
.team-members p {
  text-align: center;
  font-family: "Roboto", serif;
  font-size: 15px;
  color: #999999;
  font-weight: 300;
  font-style: italic;
}

main::after {
  content: "";
  display: block;
  background-color: rgb(229, 229, 229);
  width: 100%;
  height: 1px;
  margin-top: 88px;
}

footer {
  display: flex;
  padding: 12px;
  justify-content: space-between;
}
footer p {
  font-size: 14px;
}

footer a {
  text-decoration: none;
  color: rgb(243, 129, 129);
  align-items: center;
}
form {
  display: flex;
}
input {
  width: 230px;
  height: 40px;
  margin: 0;
  padding: 0;
  border: 1px solid;
  color: #333333;
}
input::placeholder {
  font-family: Roboto, serif;
  font-weight: 300;
  font-style: italic;
  padding-left: 11px;
}
button {
  margin: 0;
  padding: 0;
  border: 0;
  width: 150px;
  height: 40px;
  font-family: "Montserrat", serif;
  font-size: 14px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #95e1d3;
}
